{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-promise-executor-return": "off",
    "linebreak-style": "off",
    "prefer-destructuring": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "operator-linebreak": "off",
    "function-paren-newline": "off",
    "no-unneeded-ternary": "off",
    "no-case-declarations": "off"
  }
}
